<a href="https://colab.research.google.com/github/GenyaElamkov/Stepic_3/blob/master/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(*list(map(chr, range(ord('a'), ord('z')+1))), sep='\n')

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

## Функция convert()
Реализуйте функцию convert(), которая принимает один аргумент:

number — целое число
Функция должна возвращать кортеж из трех элементов, расположенных в следующем порядке:

двоичное представление числа number в виде строки без префикса 0b
восьмеричное представление числа number в виде строки без префикса 0o
шестнадцатеричное представление числа number в виде строки в верхнем регистре без префикса 0x
Примечание 1. В задаче удобно воспользоваться функциями bin(), oct() и hex().

Примечание 2. В тестирующую систему сдайте программу, содержащую только необходимую функцию convert(), но не код, вызывающий ее.

https://stepik.org/lesson/640035/step/5?unit=636555

In [ ]:
def convert(number: int) -> tuple[str, str, str]:
    bin_num = bin(number).replace('0b', '')
    oct_num = oct(number).replace('0o', '')
    hex_num = hex(number).replace('0x', '').upper()

    return bin_num, oct_num, hex_num


print(convert(1))

('1', '1', '1')

In [5]:
def add(a, b):
    return print(a + b)

result = add(13, 8)

21

Вам доступен словарь films, ключом в котором является название некоторого фильма, а значением — словарь с оценками этого фильма от изданий imdb и kinopoisk.

Дополните приведенный ниже код, чтобы он вывел название фильма с наименьшей средней оценкой.

Примечание 1. Гарантируется, что искомый фильм единственный.

Примечание 2. Средней оценкой считается отношение суммы всех оценок к их количеству.

Примечание 3. В задаче удобно воспользоваться функцией min().

https://stepik.org/lesson/640035/step/8?unit=636555

In [26]:
films = {'Spider-Man: No Way Home': {'imdb': 8.8, 'kinopoisk': 8.3},
         'Don"t Look Up': {'imdb': 7.3, 'kinopoisk': 7.6},
         'Encanto': {'imdb': 7.3, 'kinopoisk': 7.4},
         'The Witcher': {'imdb': 8.2, 'kinopoisk': 7.3},
         'Ghostbusters: Afterlife': {'imdb': 7.3, 'kinopoisk': 8},
         'Harry Potter 20th Anniversary: Return to Hogwarts': {'imdb': 8.1, 'kinopoisk': 8.2},
         'Shingeki no Kyojin': {'imdb': 9.0, 'kinopoisk': 8.3},
         'The Matrix': {'imdb': 8.7, 'kinopoisk': 8.5},
         'The Dark Knight': {'imdb': 9.0, 'kinopoisk': 8.5},
         'The Shawshank Redemption': {'imdb': 9.3, 'kinopoisk': 9.1},
         'Avengers: Endgame': {'imdb': 8.4, 'kinopoisk': 7.7}}


res = {k: sum(v.values())for k, v in films.items()}
print(min(res, key=res.get))

Spider-Man: No Way Home 17.1
Don"t Look Up 14.899999999999999
Encanto 14.7
The Witcher 15.5
Ghostbusters: Afterlife 15.3
Harry Potter 20th Anniversary: Return to Hogwarts 16.299999999999997
Shingeki no Kyojin 17.3
The Matrix 17.2
The Dark Knight 17.5
The Shawshank Redemption 18.4
Avengers: Endgame 16.1
Encanto

## Функция non_negative_even()
Реализуйте функцию non_negative_even(),  которая принимает один аргумент:

numbers — непустой список чисел
Функция должна возвращать True, если все числа в списке numbers являются четными и неотрицательными, или False в противном случае.

Примечание 1. В задаче удобно воспользоваться функцией all().

Примечание 2. В тестирующую систему сдайте программу, содержащую только необходимую функцию non_negative_even(), но не код, вызывающий ее.

https://stepik.org/lesson/640035/step/9?unit=636555

In [44]:
def non_negative_even(numbers: list) -> bool:
    # return all(map(lambda x: (x % 2) == 0 and  x >= 0, numbers))
    return all(not k % 2 and k >= 0 for k in numbers)

print(non_negative_even([4, 4, 4]))

True

## Функция is_greater()
Реализуйте функцию is_greater(), которая принимает два аргумента в следующем порядке:

lists — список, элементами которого являются списки целых чисел
number — целое число
Функция должна возвращать True, если хотя бы в одном вложенном списке из списка lists сумма всех элементов больше number, или False в противном случае.

Примечание 1. В задаче удобно воспользоваться функцией any().

Примечание 2. В тестирующую систему сдайте программу, содержащую только необходимую функцию is_greater(), но не код, вызывающий ее.

https://stepik.org/lesson/640035/step/10?unit=636555

In [53]:
def is_greater(lists: list, number: int) -> bool:
    return any(map(lambda x: sum(x) > number, lists))



data = [[0, 0, 1], [0, 1, 0], [1, 0, 0]]

print(is_greater(data, 2))

False

## Функция custom_isinstance()
Реализуйте функцию custom_isinstance(), которая принимает два аргумента в следующем порядке:

objects — список произвольных объектов
typeinfo — тип данных или кортеж с типами
Функция должна возвращать единственное число — количество объектов из списка objects, которые принадлежат типу typeinfo или одному из типов, если был передан кортеж.

Примечание 1. В задаче удобно воспользоваться функцией isinstance().

Примечание 2. В тестирующую систему сдайте программу, содержащую только необходимую функцию custom_isinstance(), но не код, вызывающий ее.

https://stepik.org/lesson/640035/step/11?unit=636555

In [59]:
def custom_isinstance(objects, typeinfo):
    # return len(list(filter(lambda x: isinstance(x, typeinfo), objects)))
    return sum(isinstance(k, typeinfo) for k in objects)


numbers = [1, 'two', 3.0, 'четыре', 5, 6.0]
print(custom_isinstance(numbers, int))

2

Вам доступен список numbers. Дополните приведенный ниже код, чтобы он вывел индекс максимального элемента в этом списке.

Примечание 1. Индексация начинается с нуля.

Примечание 2. В задаче удобно воспользоваться функциями enumerate() и max().

https://stepik.org/lesson/640035/step/12?unit=636555

In [66]:
numbers = [-7724, 5023, 3197, -102, -4129, -880, 5857, -2866, -8913, 1195, 9809, 5347, -8071, 903, 3030, -4347, -3354, 1024, 8670, 4210, -5228, 8900, 4823, -2002, 4900, 9520, -3658, 1104, -9554, 3064, 9632, -8701, 3384, 4370, 2034, 7822, -9694, 3347, 7440, -8459, 3238, -5193, -3381, 5281, 9022, 5559, 7593, -6540, -6204, -2483, 8729, 5810, -8254, -9846, -1801, 4882, 3838, -3140, 7609, -3325, 6026, 2994, -1677, 1266, -1893, -4408, -5722, -2841, 9812, 5837, -7474, 4624, -664, 6998, 7888, -971, 8810, 3812, -5396, 2593, 512, -4634, 9735, -3062, 9031, -9300, 3657, 6332, 7552, 8125, -725, 4392, 1727, 8194, -2828, -4314, -8967, -7912, -1363, -5957]

print(max(enumerate(numbers), key=lambda x: x[1])[0])

(68, 9812)

## Функция my_pow()
Реализуйте функцию my_pow(), которая принимает один аргумент:

number — целое неотрицательное число
Функция должна возвращать сумму, состоящую из цифр числа, возведенных в степень их порядкового номера.

Примечание 1. Рассмотрим число
139
139 из первого теста. Сумма цифр этого числа, возведенных в степень их порядкового номера, равна:
1
1
+
3
2
+
9
3
=
739
1
1
 +3
2
 +9
3
 =739

Примечание 2. В задаче удобно воспользоваться функциями enumerate() и sum().

Примечание 3. В тестирующую систему сдайте программу, содержащую только необходимую функцию my_pow(), но не код, вызывающий ее.

https://stepik.org/lesson/640035/step/13?unit=636555

In [93]:
def my_pow(number: int) -> int:
    return sum([x ** i for i, x in enumerate(map(int, str(number)), 1)])



print(my_pow(139))

739

Вам доступны три списка names, budgets и box_offices. Первый список содержит названия различных мультфильмов, второй и третий — соответствующие бюджеты и сборы в долларах.

Дополните приведенный ниже код, чтобы он определил, какую прибыль принес каждый мультфильм, и вывел названия мультфильмов, указав для каждого соответствующую прибыль. Мультфильмы должны быть расположены в лексикографическом порядке, каждый на отдельной строке, в следующем формате:

<фильм>: <прибыль>$
Примечание 1. Прибыль определяется как разность сборов и бюджета.

Примечание 2. Начальная часть ответа выглядит так:

Cars: 342216280$
Coco: 627082196$
Finding Nemo: 846335536$
...
Примечание 3. В задаче удобно воспользоваться функцией zip().

https://stepik.org/lesson/640035/step/14?unit=636555

In [116]:
names = ['Moana', 'Cars', 'Zootopia', 'Ratatouille', 'Coco', 'Inside Out', 'Finding Nemo', 'Frozen']
budgets = [150000000, 120000000, 150000000, 150000000, 180000000, 175000000, 94000000, 150000000]
box_offices = [643331111, 462216280, 1023784195, 620702951, 807082196, 857611174, 940335536, 1280802282]

res = [(k[0], k[2]-k[1]) for k in zip(names, budgets, box_offices)]

for v in sorted(res):
    print(f"{v[0]}: {v[1]}$")

Cars: 342216280$
Coco: 627082196$
Finding Nemo: 846335536$
Frozen: 1130802282$
Inside Out: 682611174$
Moana: 493331111$
Ratatouille: 470702951$
Zootopia: 873784195$