<a href="https://colab.research.google.com/github/GenyaElamkov/Stepic_3/blob/master/lesson_9_3_higher_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Вам доступен список data, содержащий произвольные объекты. Дополните приведенный ниже код, чтобы он вывел все числа (тип int и float), находящиеся в данном списке, отбрасывая дробную часть у вещественных чисел. Числа должны быть расположены в своем исходном порядке, каждое на отдельной строке.

https://stepik.org/lesson/640036/step/13?unit=636556

In [ ]:
data = ['Timur', -16.648911695768902, 'six', -202, 883.0093275936454, -765,
        (3, 4), -105.10718000213546, 976, -308.96857946288094, 458,
        ['one', 'two'], 479.92207220345927, -87, -71, 'twelve', 112, -621,
        -715.0179551194733, 'seven', 229, 729, -358, [1, 2, 3], -974, 882,
        -894.4709033242768, '', 323.7720806756133, 'beegeek', -224, 431,
        170.6353248658936, -343.0016746052049, 'number', 104.17133679352878,
        [], -353.5964777099863, 'zero', -113, 288, None, -708.3036176571618]


res = map(int, filter(lambda x: isinstance(x, (int, float)), data))
print(*res, sep='\n')

Вам доступен список numbers, содержащий целые числа. Дополните приведенный ниже код, чтобы он вывел сумму квадратов всех двузначных чисел из данного списка, которые делятся на
9
9 без остатка.

Примечание 1. Обратите внимание, на
9
9 должно делиться само число, а не его квадрат.

Примечание 2. В задаче удобно воспользоваться функциями map() и filter().

https://stepik.org/lesson/640036/step/14?unit=636556

In [46]:
numbers = [4754, -4895, -364, -4764, 4683, 1639, -43, 228, -2701, -1503, 1223,
           4340, -1296, 3939, -345, 623, -3275, 1003, 4367, -1739, 550, -1217,
           -1334, 1526, -4359, -3028, -4663, 3356, 3887, 4297, -1982, 1013,
           3299, 3556, -3324, 417, 3531, -3134, 1782, 4439, 1652, -985, 4327,
           1517, 1225, -915, 2808, -3851, -1005, 3396, 2842, -3879, -3824,
           -3805, 1609, -4741, -3072, 3573, 4680, 588, -1430, 2378, -1095,
           -343, 4357, -2164, -3304, 4354, 4926, -352, -1187, -3313, 2741,
           4786, -2689, 741, 4558, 1442, 62, -1099, -2201, -16, -3115, 1862,
           2384, 4072, -90, 204, 1158, -3134, -2512, 756, 4148, 4370, 1756,
           3609, -1148, -3909, 4123, -2906, 69, 96, 1111]

print(*map(lambda x: x**2, filter(lambda x: len(str(abs(x))) == 2 and x % 9 == 0, numbers)))
# print(*map(lambda x: x**2, filter(lambda x: -100 < x < 100 and x % 9 == 0, numbers)))

8100

Вам доступен список names, содержащий имена на русском языке. Дополните приведенный ниже код, чтобы он вывел все имена, которые начинаются на буквы А и М (независимо от регистра) и имеют длину больше
4
4. Имена должны быть расположены в лексикографическом порядке, через пробел, каждое с заглавной буквы.

Примечание 1. Начальная часть ответа выглядит так:

Аделина Айлин Александр ...
Примечание 2. В задаче удобно воспользоваться функциями map() и filter().

https://stepik.org/lesson/640036/step/15?unit=636556

In [73]:
names = ['ульяна', 'арина', 'Дмитрий', 'Сергей', 'Яна', 'мила', 'Ольга',
         'софья', 'семён', 'Никита', 'маргарита', 'Василиса', 'Кирилл',
         'александр', 'александра', 'Иван', 'андрей', 'Родион', 'максим',
         'алиса', 'Артём', 'софия', 'владимир', 'дамир', 'Валерий', 'степан',
         'Алексей', 'Марк', 'олег', 'ирина', 'Милана', 'мия', 'денис', 'Фёдор',
         'Елизавета', 'айлин', 'Варвара', 'валерия', 'Алёна', 'Николь', 'юлия',
         'Ксения', 'пётр', 'георгий', 'Мария', 'глеб', 'илья', 'Захар',
         'Дарья', 'Евгения', 'матвей', 'Серафим', 'екатерина', 'Тимофей',
         'виктор', 'Егор', 'Ника', 'анна', 'даниил', 'тихон', 'вера', 'кира',
         'Эмилия', 'Виктория', 'Игорь', 'полина', 'алина', 'Давид',
         'анастасия', 'Вероника', 'ярослав', 'Руслан', 'татьяна', 'Демид',
         'амелия', 'Элина', 'Арсен', 'евгений', 'мадина', 'дарина', 'Савелий',
         'Платон', 'Аделина', 'диана', 'Айша', 'павел', 'Стефания', 'Тимур',
         'Ева', 'Елисей', 'Артемий', 'григорий', 'Мирон', 'Мирослава', 'Мира',
         'Марат', 'Лилия', 'роман', 'владислав', 'Леонид']


res = filter(lambda x: x.startswith(("а","А", "м","М")) and len(x) > 4, names)
print(*sorted(map(str.title, res)))

Аделина Айлин Александр Александра Алексей Алина Алиса Алёна Амелия Анастасия Андрей Арина Арсен Артемий Артём Мадина Максим Марат Маргарита Мария Матвей Милана Мирон Мирослава

## Функция fib()
Используя синтаксис анонимных функций, реализуйте рекурсивную функцию fib(), которая принимает один аргумент:

n — натуральное число
Функция должна возвращать n-ый член последовательности Фибоначчи.

Примечание 1. Последовательность Фибоначчи – последовательность натуральных чисел, где каждое последующее число является суммой двух предыдущих:
1
,
1
,
2
,
3
,
5
,
8
,
13
,
21
,
34
,
55
,
89
,
144
,
233
,
.
.
.
1,1,2,3,5,8,13,21,34,55,89,144,233,...
Примечание 2. В тестирующую систему сдайте программу, содержащую только необходимую функцию fib(), но не код, вызывающий ее.

https://stepik.org/lesson/640036/step/16?unit=636556

In [95]:
d = {1: 1, 2: 1 }
fib = lambda n: d[n] if n in d else d.setdefault(n, fib(n-1) + fib(n-2))
# fib = lambda n: 1 if n <= 2 else fib(n-2) + fib(n-1)
print(fib(5))

5

## Функция print_operation_table()
Реализуйте функцию print_operation_table(), которая принимает три аргумента в следующем порядке:

operation — функция, характеризующая некоторую бинарную операцию
rows — натуральное число
cols — натуральное число
Функция должна составлять и выводить таблицу из rows строк и cols столбцов, в которой элемент со строкой
�
n и столбцом
�
m имеет значение operation(n, m).

Примечание 1. Нумерация строк и столбцов в таблице начинается с единицы.

Примечание 2. Элементы в строках таблицы должны быть разделены одним пробелом, причем выравнивать таблицу необязательно.

Примечание 3. Бинарная операция — математическая операция, принимающая два аргумента и возвращающая один результат.

Примечание 4. В тестирующую систему сдайте программу, содержащую только необходимую функцию print_operation_table(), но не код, вызывающий ее.

https://stepik.org/lesson/640036/step/17?unit=636556

In [141]:
def print_operation_table(operation, rows: int, cols: int) -> None:
    """Состовлят и выводить таблицу из строк и стобцов."""
    # rows - строки
    # cols - столбцы
    # operation(n, m)

    _width = len(str(operation(rows, cols)))
    for i in range(1, rows+1):
        for j in range(1, cols+1):
            # print(f"{(lambda: operation(i, j))()}".ljust(_width), end=' ')
            print(f"{operation(i, j)}".ljust(_width), end=' ')
        print()


print_operation_table(pow, 5, 4)

1   1   1   1
2   4   8   16
3   9   27  81
4   16  64  256
5   25  125 625